body {
  background: #E5E5E5;
}

.pokedex {
  position: absolute;
  width: 840px;
  height: 566px;
  left: 444px;
  top: 275px;
  display: flex;
}

.leftSection {
  /* position: absolute; */
  width: 374px;
  height: 566px;
  left: 444px;
  top: 275px;
}

.topLeftSection {
  /* position: absolute; */
  width: 100%;
  height: 155px;
  left: 444px;
  top: 275px;
}

.topLeftDark {
  /* position: absolute; */
  width: 374px;
  height: 155px;
  left: 444px;
  top: 275px;
  padding: 20px;
  display: flex;
  background: linear-gradient(180deg, #A50101 0%, #A50101 100%);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 40px 0 0 0;
  overflow: hidden;
}

.redYellowGreen {
  /* position: absolute; */
  display: flex;
  width: 82px;
  height: 17.16px;
  left: 606px;
  top: 325.84px;
  padding: 22px 0 0 50px;
}

.red {
  /* position: absolute; */
  width: 17.16px;
  height: 17.16px;
  left: 606px;
  top: 325.84px;
  background: linear-gradient(180deg, #FF0000 0%, #FF2315 100%);
}

.yellow {
  /* position: absolute; */
  width: 17.16px;
  height: 17.16px;
  left: 638.42px;
  top: 325.84px;
  margin-left: 15px;
  background: linear-gradient(180deg, #FFE600 0%, #FFB915 100%);
}

.green {
  /* position: absolute; */
  width: 17.16px;
  height: 17.16px;
  left: 670.84px;
  top: 325.84px;
  margin-left: 15px;
  background: linear-gradient(180deg, #1E951B 0%, #299726 100%);
}

.red, .green, .yellow {
  border-radius: 999px;
}

.blueCircle {
  position: relative;
  width: 81px;
  height: 81px;
    /* left: 490px;
top: 320px; */
}

.blue {
  /* position: absolute; */
  width: 81px;
  height: 81px;
  left: 490px;
  top: 320px;
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #74EAF1 57.08%, #4FEFF9 88.54%, #22878D 100%);
  border: 9px solid #DCFDFF;
  border-radius: 999px;
}

.highlight {
  position: absolute;
  width: 33px;
  height: 18px;
  left: 40%;
  top: 15px;
  background: rgba(255, 255, 255, 0.66);
  border-radius: 11px;
}

.leftBottom {
  width: 100%;
  height: 412px;
  background: #D21E1E;
  border: 1px solid #000000;
  border-top: none;
  box-sizing: border-box;
  box-shadow: 0px 13px 9px rgba(0, 0, 0, 0.35);
  border-radius: 0 0 0 40px;
}

.greyBackgroundOuter {
  height: 236px;
  width: calc(100% - 80px);
  margin: 0 auto;
  padding-top: 30px;
}

.greyBackground {
  width: 100%;
  height: 100%;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.redCircles {
  width: 25%;
  margin: 0 auto;
  padding: 10px 0 5px 0;
  display: flex;
}

.circle1 {
  width: 14px;
  height: 14px;
  border-radius: 999px;
  background: radial-gradient(50% 50% at 50% 50%, #FFC7C7 0%, #FF3C3C 48.44%, #E02222 100%);
  border: 1px solid #000000;
  box-sizing: border-box;
}

.circle2 {
  margin-left: 30px;
  width: 14px;
  height: 14px;
  border-radius: 999px;
  background: radial-gradient(50% 50% at 50% 50%, #FFC7C7 0%, #FF3C3C 48.44%, #E02222 100%);
  border: 1px solid #000000;
  box-sizing: border-box;
}

.whiteScreen {
  margin-left: 15px;
  width: 248px;
  height: 157px;
  left: 506px;
  top: 483px;
  background: #FFFFFF;
  border: 2px solid #999999;
  box-sizing: border-box;
  border-radius: 7px;
}

.image {
  padding: 10px 0 0 70px;
  width: 47%;
  height: 47%;
  margin: 10px;
}

.greyBottomButtons {
  width: 192px;
  height: 32px;
  left: 539px;
  top: 658px;
}

.circle {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 999px;
  background: linear-gradient(167.01deg, #A81C1C 50%, #9A0000 84.77%);
  border: 1px solid #701111;
  box-sizing: border-box;
  margin-left: 40px;
  margin-top: 7px;
}

.lines {
  width: 36px;
  height: 27px;
  padding-left: 20px;
  display: flex;
}

.line {
  width: 36px;
  height: 7px;
  background: #5E5E5E;
  border-radius: 1px;
  padding-top: 5px;
}

.bottomLeftButtons {
  display: flex;
  padding: 40px 0 0 20px;
}

.blueCircle2 {
  width: 63px;
  height: 63px;
  border-radius: 999px;
  background: linear-gradient(315.76deg, #123AC6 49.99%, #3347FF 79.76%);
  border: 1px solid #00199D;
  box-sizing: border-box;
  margin-left: 12px;
  cursor:pointer;
}

.bottomMiddleButtons {
  width: 150px;
  height: 75px;
}

.longButtons {
  display: flex;
  padding-bottom: 3px;
}

.longGreen {
  width: 50px;
  height: 12px;
  background: linear-gradient(180deg, #10C70C 0%, #146512 100%);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.73);
  border-radius: 10px;
  margin-left: 20px;
}

.longRed {
  width: 50px;
  height: 12px;
  background: linear-gradient(180deg, #FF7940 0%, #DE382D 100%);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.73);
  border-radius: 10px;
  margin-left: 10px;
}

.idScreen {
  margin-top: 4px;
  width: 98px;
  height: 45px;
  padding-left: 25px;
}

.screen {
  width: 120px;
  height: 50px;
  background: #5CDB48;
  border: 1px solid #7B7B7B;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.42);
  border-radius: 8px;

  display: flex;
  /* align-items, align-content, justify-content, justify-items */
  /* flex-start, center, flex-end */
  align-items: center;
  justify-content: center;
}

.input {
  font-size: 30px;
  font-family: 'Arial';
  text-align: center;
  }

.keypad {
  width: 55%;
  height: 55%;
  padding-left: 15px;
}

/*----------------------------*/
.middleSection {
  width: 92px;
  height: 566px;
  left: 818px;
  top: 275px;
  background: linear-gradient(90deg, #DC2828 0%, #FC2929 44.2%, #DE2727 84.78%);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 13px 9px rgba(0, 0, 0, 0.35);
  overflow: hidden;
}

.topDarkGradient, .middleDarkGradient, .bottomDarkGradient {
  width: 92px;
  height: 85px;
  background: linear-gradient(90deg, #720000 0%, #D21E1E 44.2%, #920808 84.78%);
  border: 1px solid #000000;
  border-left: none;
  box-sizing: border-box;
}

.topDarkGradient {
  border-top: none;
}

.middleDarkGradient {
  margin-top: 114px;
}

.bottomDarkGradient {
  margin-top: 114px;
}

.rightSection {
  height: 566px;
  width: 374px;
}

.rightBackground {
  margin-top: 152px;
  height: 414px;
  width: 100%;
  background: #D21E1E;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 13px 9px rgba(0, 0, 0, 0.35);
  border-radius: 0 0 40px 0;
}

.descriptionOuter {
  height: 130px;
  width: calc(100% - 80px);
  margin: 0 auto;
  padding-top: 30px;
}

.description {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #70EB5C 0%, #3BC025 100%);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: inset 8px 4px 4px rgba(0, 0, 0, 0.18);
  border-radius: 15px;
}

.pokemon {
  padding: 0 0 0 20px;
  font-size: 20px;
  font-family: 'Arial';
  font-weight: bold;
}

.type {
  padding-left: 20px;
  font-size: 20px;
  font-family: 'Arial';
}

.numbers1 {
  display: flex;
  margin: 10px 0 0 52px;
}

.numbers2 {
  display: flex;
  margin-left: 52px;
}

.button {
  width: 54px;
  height: 42px;
  background: linear-gradient(180deg, #5E8BFE 0%, #3049CD 63.02%, #00199D 100%);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.text {
  font-family: 'Arial';
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
}

.middleRightButtons {
  width: 273px;
  height: 14px;
  left: 960px;
  top: 726px;
  display: flex;
  padding-top: 30px;
}

.smallButtons {
  display: flex;
  padding-left: 18px;
}

.green2 {
  width: 14px;
  height: 14px;
  background: linear-gradient(180deg, #146512 0%, #396A38 100%);
  border-radius: 999px;
  margin-left: 30px;
}

.yellow2 {
  width: 14px;
  height: 14px;
  background: linear-gradient(180deg, #FFE600 0%, #FFB915 100%);
  border-radius: 999px;
  margin-left: 15px;
}

.longButtons {
  padding-left: 10px;
  display: flex;
}

.green3 {
  width: 50px;
  height: 12px;
  background: linear-gradient(180deg, #10C70C 0%, #146512 100%);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.73);
  border-radius: 10px;
  margin-left: 100px;
}

.red3 {
  width: 50px;
  height: 12px;
  background: linear-gradient(180deg, #FF7940 0%, #DE382D 100%);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.73);
  border-radius: 10px;
  margin-left: 15px;
}

.bottomRight {
  display: flex;
  padding-top: 30px;
}

.incDec {
  width: 113px;
  height: 39px;
  padding-left: 45px;
  display: flex;
}

.decrease {
  width: 58px;
  height: 45px;
  background: linear-gradient(180deg, #C4C4C4 0%, #636363 100%);
  border: 2px solid #454545;
  box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.73);
  cursor: pointer;
}

.backward {
  height: 50%;
  width: 50%;
  text-align: center;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  margin-left: 10px;
  padding-top: 8px;
}

.increase {
  width: 58px;
  height: 45px;
  background: linear-gradient(180deg, #C4C4C4 0%, #636363 100%);
  border: 2px solid #454545;
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  border-left: none;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.73);
  cursor:pointer;
}

.forward {
  height: 50%;
  width: 50%;
  text-align: center;
  padding: 8px 0 0 10px;
}

.delete {
  width: 47px;
  height: 47px;
  margin-left: 119px;
  border-radius: 999px;
  background: linear-gradient(315.49deg, #FFB915 -10.59%, #FFE815 66.39%);
  border: 1px solid rgba(0, 0, 0, 0.41);
  box-sizing: border-box;
  cursor:pointer;
}

.backward1 {
  height: 55%;
  width: 55%;
  text-align: center;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  margin-left: 8px;
  padding-top: 10px;
}
